src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
<flow name="get:\reports:uhub-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default&quot;&quot;]" doc:name="Set correlationId" doc:id="867678e6-a4d9-4fbd-9ae8-d091fccb304c" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="4707458a-26c3-490a-bbd7-f5fd6bd3fb24" message="transactionId: #[vars.transactionId],correlationId:#[vars.correlationId], message: Get covid case reports Startedand  query parameter is - #[attributes.queryParams.state]"/>
		<flow-ref doc:name="get-covid-reports-sub-flow" doc:id="68e0e04f-f230-45b1-853e-96b4fd9eadc6" name="get-covid-reports-subflow"/>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
((payload.resultSet1  groupBy ($.state) mapObject (value, key, index) ->
{
    resultset:
    {
    state:key,
    report: 
    {
        
        total: sum(value.count),
        (value map(item,index)->
        {
                    (item.case_type):item.count
        })
        
    }
}}).*resultset)
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="ca283bf1-9f4f-4f1d-93aa-35ffda5a97b9" message="transactionId: #[vars.transactionId],correlationId:#[vars.correlationId], message: Get covid case reports completed, payload: #[payload]"/>
    
</flow>
</mule>
