src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

<flow name="post:\cases:application\json:uhub-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="da000d1d-1f6c-47f1-9660-090c584e8a1f" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="001b6ca6-afb3-4d76-bd0b-86dc46837f51" message="transactionId: #[vars.transactionId],correlationId:#[vars.correlationId], message: Register covid case flow begins ,payload: #[payload]"/>
		<flow-ref doc:name="call-register-covid-case-subflow" doc:id="e65532a6-4410-40b6-a8b9-b8021cde6aa5" name="insert-register-covid-case-sub-flow"/>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Prepare Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0]
  
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="b4ed360a-6082-4dd5-b246-a7aabf765aa3" message="transactionId: #[vars.transactionId],correlationId:#[vars.correlationId], message: Register covid case flow completed ,payload: #[payload]"/>
    
</flow>
	</mule>
